.bottomContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.bottomButton {
  width: 386px;
  padding: 18px;
  background: #fb7400;
  border-radius: 24px;
  border: none;

  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
}

.bottomButtonDisable {
  background: #fb750035;
  pointer-events: none;
  cursor: default;
}
