@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.homeContainer {
  background-color: #fafafa;
  height: 100%;
}

.imageCaroussel {
  width: 100%;
  height: 330px;
  background-color: #ded7d1;
}

.contentContainer {
  padding: 14px;
}

.salonInfosContainer {
  margin-bottom: 30px;
}

.salonName {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  color: #43403d;
}

.location {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  color: #a09d99;
}

.listButtons {
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px;
  gap: 14px;
  border-radius: 14px;
  background-color: #ffffff;
}

.logoContainer {
  width: 58px;
  height: 58px;
  background: #f1f2f4;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonLabel {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1px;
  color: #43403d;
}

.sectionSpectialists {
  /*  display: flex;
  flex-direction: column;
  align-items: flex-start; */
}

.sectionSpecialistsTitle {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  color: #43403d;
  margin-bottom: 30px;
}

.listSpecialists {
  list-style: none;
  display: flex;
  gap: 14px;
  padding: 0;
  justify-content: flex-start;
  overflow-x: auto;
  margin: 0;
}

.listSpecialists::-webkit-scrollbar {
  display: none;
}

.specialist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 108px;
  padding: 14px;
  gap: 14px;
  border-radius: 14px;
  background-color: #ffffff;
}

.imageSpecialist {
  width: 80px;
  height: 80px;
  border-radius: 14px;
  background-color: #ded7d1;
}

.specialistName {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 1px;
  color: #43403d;
}
