.listSpecialists {
  list-style: none;
  display: flex;
  gap: 14px;
  padding: 0;
  justify-content: flex-start;
  overflow-x: auto;
  margin: 0;
}

.listSpecialists::-webkit-scrollbar {
  display: none;
}
